<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PYQ'S Entry</title>
</head>
<body>
    <h1>Enter PYQ Details</h1>

    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="title">Title:</label>
            <input type="text" name="title" id="title" required>
        </div>
        <div>
            <label for="year">Year:</label>
            <input type="number" name="year" id="year" required>
        </div>
        <div>
            <label for="year">Exam:</label>
            <select name="exam" id="exam" required>
                <option value="Insem">Insem</option>
                <option value="Endsem">Endsem</option>
            </select>
        </div>
        <div>
            <label for="subject">Subject:</label>
            <input type="text" name="subject" id="subject" required>
        </div>
        <div>
            <label for="url">Upload File:</label>
            <input type="file" name="pdf_files" multiple>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>
