{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.tailwindcss.com/2.2.19/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script> 
</head>
<body class="bg-gray-900 text-white">
  <div class="bg-white dark:bg-gray-900 text-black dark:text-white pb-6 sm:pb-8 lg:pb-1">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
        <header class="mb-4 flex items-center justify-between py-2 md:py-4 xl:mb-2">

            <!-- logo - start -->
            <a href="/" class="inline-flex items-center gap-2.5 text-2xl font-bold text-black dark:text-white md:text-3xl" aria-label="logo">
                <svg width="95" height="94" viewBox="0 0 95 94" class="h-auto w-6 text-indigo-500" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M96 0V47L48 94H0V47L48 0H96Z" />
                </svg>
                AceUp 
            </a>
                
            
            <!-- logo - end -->

            <!-- nav - start -->
            <nav class="hidden gap-12 lg:flex">
                <a href="{% url 'landing' %}" class="text-lg font-semibold text-gray-600 dark:text-gray-300 transition duration-100 hover:text-indigo-500 active:text-indigo-700">Home</a>
                <a href="{% url 'displayTesti'%}" class="text-lg font-semibold text-gray-600 dark:text-gray-300 transition duration-100 hover:text-indigo-500 active:text-indigo-700">Testimonials</a>
                <a href="{%url 'events'%}" class="text-lg font-semibold text-gray-600 dark:text-gray-300 transition duration-100 hover:text-indigo-500 active:text-indigo-700">Events</a>
                <a href="{%url 'communities'%}" class="text-lg font-semibold text-gray-600 dark:text-gray-300 transition duration-100 hover:text-indigo-500 active:text-indigo-700">Communities</a>
            </nav>
            <!-- nav - end -->

            <!-- buttons - start -->
            <a href="{% url 'contact' %}" class="hidden rounded-lg bg-gray-200 dark:bg-gray-700 px-8 py-3 text-center text-sm font-semibold text-gray-500 dark:text-gray-300 outline-none ring-indigo-300 transition duration-100 hover:bg-gray-300 dark:hover:bg-gray-600 focus-visible:ring active:text-gray-700 dark:active:text-gray-400 md:text-base lg:inline-block">Contact Us</a>

            <button type="button" class="inline-flex items-center gap-2 rounded-lg bg-gray-200 dark:bg-gray-700 px-2.5 py-2 text-sm font-semibold text-gray-500 dark:text-gray-300 ring-indigo-300 hover:bg-gray-300 dark:hover:bg-gray-600 focus-visible:ring active:text-gray-700 dark:active:text-gray-400 md:text-base lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                </svg>
                Menu
            </button>
            <!-- buttons - end -->
        </header>
    </div>
</div>
<div class="py-6 sm:py-8 lg:py-1">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <!-- text - start -->
    <div class="mb-3 md:mb-5">
      <h2 class="mb-4 text-center text-2xl font-bold text-white md:mb-6 lg:text-3xl">ROADMAPS</h2>

      <p class="mx-auto max-w-screen-md text-center text-gray-400 md:text-lg">Specially curated ROADMAPS for the domain of your choice to guide you in your journey. </p>
    </div>
    <!-- text - end -->
  </div>
</div>


<form method="GET" class="mx-auto max-w-lg rounded-lg bg-gray-900">
  <div class="flex flex-col gap-2 p-4 md:p-1">
    <div>
      <label for="query" class="mb-2 inline-block text-sm text-gray-200 sm:text-base">Enter Roadmap to search</label>
      <input name="query" placeholder="This feature is under testing " class="w-full rounded border border-gray-700 bg-gray-800 px-3 py-2 text-gray-200 outline-none ring-indigo-500 transition duration-100 focus:ring" />
    </div>
    <button type="submit" class="mt-2 rounded-lg bg-indigo-500 px-4 py-2 text-sm font-semibold text-white hover:bg-indigo-600">Search</button>
  </div>
</form>


<div class="bg-gray-900 py-6 sm:py-8 lg:py-1">
  
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    {% if roadmaps %}
    {% for i in roadmaps %}
    <div class="flex flex-col items-center justify-between gap-4 rounded-lg bg-gray-800 p-4 sm:flex-row md:p-8">
        <div>
            <h2 class="text-xl font-bold text-indigo-400 md:text-2xl">{{ i.title|upper }}</h2>
            <!-- <p class="text-gray-300">SUB: {{i.subject|upper}}&emsp;&emsp;|&emsp;&emsp;YEAR: {{i.year}}</p> -->
        </div>
        <a href="{% url 'pdfreader' pk=i.id %}" class="inline-block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base">VIEW</a>
    </div>
    <br>
    {% endfor %}
{% else %}
    <p class="text-center text-gray-400">No roadmaps found.</p>
{% endif %}
  </div>
  
</div>
  
  
</body>
</html>
